{
	"General": {
		"checkInterval": 10,
		"allowBotCommands": false
	},
	"Steam": {
		"apiKey": "STEAM API KEY"
	},
	"Discord": {
		"botToken": "DISCORD BOT TOKEN",
		"botChannel": "DISCORD CHANNEL ID",
		"botPrefix": "!",
		"accessRole": "BAN CHECKER ACCESS ROLE NAME"
	},
	"Screenshot": {
		"saveScreenshot": true,
		"sendScreenshot": true
	}
}