{
	"General": {
		"checkInterval": 10
	},
	"Steam": {
		"apiKey": "STEAM API KEY"
	},
	"Discord": {
		"botToken": "DISCORD BOT TOKEN",
		"botChannelInput": "DISCORD CHANNEL ID",
		"botChannelOutput": "",
		"botCommandPrefix": "!",
		"botCommand": "",
		"allowBotCommands": false,
		"accessRole": ""
	},
	"Screenshot": {
		"saveScreenshot": true,
		"sendScreenshot": true
	}
}